<script id="home-template" type="text/x-handlebars-template">
  <div id="home-template-div">
    <div id="hero-image" class="parallax-window">
      <div class="cover filter-40-opac">
        <div class="centered hero-text">
          <h1>Canberra Art Biennial 1-29</h1><br />
          <p>contour556 returns for the 4th edition this October - bigger and
            better than before.</p>
        </div>
      </div>
    </div>
    <section id="section-1">
      <div class="titles">
        <h2>The 4th Edition</h2><br />
      </div>
      <div id="parallax-1" class="parallax-window location">
        <div class="cover filter-40-opac">
          <div class="centered hero-text">
            <h3>Four Locations</h3>
            <p>Lake B Griffin</p>
            <p>Lake Gininderra</p>
            <p>University of Cannberra</p>
            <p>Some Other fucking Place</p>
          </div>
        </div>
      </div>
      <div id="parallax-2" class="parallax-window location"></div>
      <div id="parallax-3" class="parallax-window location"></div>
      <div id="parallax-4" class="parallax-window location"></div>
    </section>
  </div>
</script>
