<script id="home-template" type="text/x-handlebars-template">
  <div id="home-template-div">
    <div id="hero-image" class="parallax-window">
      <div class="cover filter-40-opac">
        <div class="centered hero-text">
          <h1>Canberra Art Biennial 1-29</h1>
          <p>contour556 returns for the 4th edition this October - bigger and
            better than before.</p>
        </div>
      </div>
    </div>
    <section id="parallaxes">
      <div id="parallax-1" class="parallax-window tile">
        <div class="cover filter-40-opac"><div class="centered hero-text"><h2
            >The 4th Edition</h2></div></div>
      </div>
      <div id="parallax-2" class="parallax-window tile">
        <div class="cover filter-40-opac">
          <div class="centered hero-text">
            <h3>Four Locations</h3>
            <p>Lake B Griffin</p>
            <p>Lake Gininderra</p>
            <p>University of Cannberra</p>
            <p>National Arboretum</p>
          </div>
        </div>
      </div>
      <div id="parallax-3" class="parallax-window tile">
        <div class="cover filter-40-opac"><div class="centered hero-text">
            <h2>Our Sponsors</h2>
            <img
              id="sponsors"
              src="https://images.squarespace-cdn.com/content/v1/5e142229c73726304407e983/6186949a-e95f-4883-bf7f-7ebafde610ac/12APR22ai.png?format=750w"
              alt="Images of Sponsors"
            />
            <p>the University of Canberra, Bonhams, KDN Group, Keir Foundation,
              numerous individual supporters through our crowdfunding pitches
              and the ACT Government.</p>
          </div></div>
      </div>
      <div id="parallax-4" class="parallax-window tile">
        <div class="cover filter-40-opac"><div class="centered hero-text">
            <p>contour 556 acknowledges the Ngunnawal people, the traditional
              custodians of the land on which we live, work, rest and play.</p></div></div>
      </div>
    </section>
  </div>
</script>
