<script id="home-template" type="text/x-handlebars-template">
  <div id="home-template-div">
    <div id="hero-image">
      <div
        id="image-1"
        class="tile-image"
        aria-label="ducks by the lake at dawn"
      >
        <div class="filter-overlay">
          <div class="centered">
            <h1>Canberra Art Biennial 1-29</h1>
            <p>contour556 returns for the 4th edition this October - bigger and
              better than before.</p>
          </div>
        </div>
      </div>
    </div>
    <section id="images">
      <div class="tile">
        <div
          id="image-2"
          class="tile-image"
          aria-label="scultpure by the laeke"
        >
          <div class="filter-overlay">
            <div class="centered">
              <h2>The 4th Edition - 2022</h2>
              <a class="button" href="/festivals-2022">find out more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tile">
        <div
          id="image-3"
          class="tile-image"
          aria-label="drone view of lake BG and national Carillon"
        >
          <div class="filter-overlay">
            <div class="centered">
              <h3>Four Locations</h3>
              <p>Lake B Griffin</p>
              <p>Lake Gininderra</p>
              <p>University of Cannberra</p>
              <p>National Arboretum</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile">
        <div id="image-4" class="tile-image" aria-label="KD Starboard">
          <div class="filter-overlay">
            <div class="centered">
              <h2>Our Sponsors</h2>
              <img
                class="tile-image"
                id="sponsors"
                src="https://images.squarespace-cdn.com/content/v1/5e142229c73726304407e983/6186949a-e95f-4883-bf7f-7ebafde610ac/12APR22ai.png?format=750w"
                alt="Images of Sponsors"
              />
              <p>The University of Canberra, Bonhams, KDN Group, Keir
                Foundation, numerous individual supporters through our
                crowdfunding pitches and the ACT Government.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="tile">
          <div id="image-5" class="tile-image" aria-label="Fhyswick Markets">
            <div class="filter-overlay">
              <div class="centered">
                <p>contour 556 acknowledges the Ngunnawal people, the
                  traditional custodians of the land on which we live, work,
                  rest and play.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</script>
