@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://use.typekit.net/iql4usk.css");
@import url("./invert.css");
:root {
  --C_BG: white;
  --HEADER_C_BG: black;
  --C_FONT: black;
  --HEADER_C_FONT: white;
  --INVERT: 1
;
}

[data-theme="dark"] {
  --C_BG: black;
  --HEADER_C_BG: white;
  --C_FONT: white;
  --HEADER_C_FONT: black;
  --INVERT: 0
  
;
}

html,
body,
#background {
  height: 100%;
  width: 100%;
  font-family: sculpin, sans-serif;
}

#flex-container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header, #app, footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#background {
  position: fixed;
  background-color: var(--C_BG);
  z-index: -1000;
}

#app {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--C_FONT);
}

footer {
  color: var(--C_FONT);
  height: 5rem;
}

footer #footer-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-icons i {
  font-size: 1.5rem;
  padding: 2rem;
}

.background-svg {
  width: 100vw;
  height: 100vh;
  display: none;
}

.path {
  stroke: var(--C_FONT);
  fill: var(--C_BG);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 60s linear alternate infinite;
          animation: dash 60s linear alternate infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  background-color: var(--HEADER_C_BG);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
}

#nav-container i {
  padding: 0.5rem;
}

#nav-container a {
  height: 100%;
}

#nav-container a #logo {
  padding: 0.25rem;
  height: 80%;
}

#nav-links {
  display: none;
}

#nav-links a {
  color: var(--HEADER_C_FONT);
  background-color: var(--HEADER_C_BG);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

@media only screen and (min-width: 600px) {
  .background-svg {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .background-svg {
    display: block;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cover {
  position: relative;
  height: 100%;
  width: 100%;
}

.filter-40-opac {
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.4);
}

.parallax-window {
  background: transparent;
}

#home-template-div #hero-image {
  color: white;
  height: 20rem;
  width: 100%;
}

#home-template-div h1 {
  font-size: 2rem;
}

#home-template-div .hero-text {
  width: 75%;
}

#home-template-div #section-1 .titles {
  margin: 1rem;
}

#home-template-div #section-1 .titles h2 {
  font-size: 1.5rem;
}

#home-template-div #section-1 .location {
  height: 50vh;
  width: 100%;
}
/*# sourceMappingURL=app.css.map */