#home-template-div{
    #hero-image{
        color: white;
        height: 20rem;
        width: 100%;}
    

    .hero-text{
        width: 75%;
    }

    #section-1{
        .titles{
            margin: 1rem;
        }
        
        .location{
            height: 50vh;
            width: 100%;
        }
    }
    h1,h2,h3{
        padding-bottom: 1rem;
    }

    #sponsors {
        padding-bottom: 1rem;
        width: 100%;
    }
}
