.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover{
    position: relative;
    height: 100%;
    width: 100%;
}

.inline {
    display: inline;
}

.filter-40-opac {
    color: white;
    background: rgb(0,0,0); //Fallback
    background: rgba(0,0,0,0.40);
}

.parallax-window {
    background: transparent;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}