// Import Reset & Fonts
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://use.typekit.net/iql4usk.css");
@import url("./invert.css");


:root {
  --C_BG: white;
  --HEADER_C_BG: black;
  --C_FONT: black;
  --HEADER_C_FONT: white;
  --INVERT: 1;
  --INVERT-CONTENT: 0;
}

[data-theme="dark"] {
  --C_BG: black;
  --HEADER_C_BG: white;
  --C_FONT: white;
  --HEADER_C_FONT: black;
  --INVERT: 0;
  --INVERT-CONTENT: 1;
  
}


html,
body,
#background {
  height: 100%;
  width: 100%;
  font-family: sculpin, sans-serif;
}

#flex-container{
  height: 100%;
  flex-direction: column;
  display: flex;
}

header, #app, footer {
  flex-shrink: 0;
}

#background {
  position: fixed;
  background-color: var(--C_BG);
  z-index: -1000;
}

#app{
  flex-grow: 1;
  color: var(--C_FONT);
}

footer{
  height: 5rem;

  a {
    text-decoration: none;
    color: var(--C_FONT);
  }

  #footer-icons{
    align-items: center;
    display: flex;
    justify-content: space-between;

    i{
      font-size: 1.5rem;
      padding: 0 2rem; // Fix for vertical scroll
    }
  }
}

.background-svg {
  width: 100vw;
  height: 100vh;
  display: none; //set to none to hide paths
}

.path {
  stroke: var(--C_FONT);
  fill: var(--C_BG);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 60s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

#nav-container {
  display: flex;
  height: 3rem;
  background-color: var(--HEADER_C_BG);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  i {
    padding: 0 1rem;
  }

  a{
    height: 100%;
    #logo {
      padding: 0.25rem;
      height: 80%;
    }
  }
  

  
}

#nav-links {
  display: none;

  a {
    color: var(--HEADER_C_FONT);
    background-color: var(--HEADER_C_BG);
    padding: 14px 16px; // TODO Use rem
    text-decoration: none;
    font-size: 17px; //TODO Use rem
    display: block;
  }
}

.page-template {
  line-height: 1.4rem;
    padding: 1rem;
    h1 {
        line-height: 2rem;
        margin: 0 0 1rem 0;
    }
    h2 {
        line-height: 2rem;
        margin: 1rem 0;
    }
    p{
      padding-bottom: 1rem;
    }
}

//Tablet
@media only screen and (min-width: 600px) {
  .background-svg {
    display: block; //show on tablet & Desktop
  }
}

@media only screen and (min-width: 1200px) {
  .background-svg {
    display: block; //show on tablet & Desktop
  }
}
//Utility classes
@import "utility";

//Template Pages
@import "home";
@import "donate";
@import "about";
@import "festival22";
@import "covid"
